html, body {
	width: 100%;
	height: 100%;
}





.header{
	height: 3rem;
	width: 100%;
	display: inline-block;
}


.header h1 {
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	padding-left: 2rem;
	display: flexbox;
	align-content: center;
	vertical-align: middle;
	height: 2rem;
}

.header h2 {
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	padding-left: 2rem;
	display: flexbox;
	align-content: center;
	vertical-align: middle;
	height: 1rem;
}




.header .logo{
	float: right;
	height: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}





.split-container {
	width: 100%;
	height: calc(50% - 3.5rem);
	display: flex;
	flex-direction: row;
}





.split-container .left {
	display: flex;
	height: calc(100% - 1rem);
	width: calc(50% - 1rem);
	margin: 0.5rem;
}





.split-container .right {
	display: flex;
	height: calc(100% - 1rem);
	width: calc(50% - 1rem);
	margin: 0.5rem;
}





.chart-container {
	height: calc(50% - 1rem);
	width: calc(100% - 1rem);
	margin: 0.5rem;
	display: block;
	float: left;
}


.chart-container .toolbar select {
	height: 2rem;
}


#stations-map {
	width: 100%;
	height: 100%;
}


#neu-chart {
	width: 100%;
	height: calc(100% - 2rem);
	display: block;
}



table {
	width: 100%;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	margin-top: auto;
	margin-bottom: auto;
	/* table-layout: fixed; */
	/* display: table-header-group; */
}

table th{
	font-weight: bold;
	border-bottom: solid 1px black;
	vertical-align: middle;
	text-align: center;
	height: 2rem;
}


table td{
	vertical-align: middle;
	text-align: center;
	height: 2rem;
}


.old-data-row {
	color: gray;
}