#sirgas-map{
	height: 600px;
	width: 800px;
	float: left;
}

.spacer {
	width: 10px;
	height: 600px;
	background: #FFF;
	float: left;
}


.side-panel {
	height: 600px;
	padding-right: 20px;
	padding-left: 20px;
	background: #EEE;
	float left;
}


.side-panel h1 {
	text-align: center;
	line-height: 24px;
	font-size: 22px;
}


.station-panel em {
	color: #ffcc00;
	font-style: bold;
}

.station-panel span{
	padding-left: 20px;
}


.station-panel h2 {
	text-align: center;
	line-height: 16px;
	font-size: 14px;
}



.logo-unesp {
	width: 200px;
	height: auto;
	position: absolute;
	right: 0px;
	bottom: 70px;
}